:root{
    --primary-color: #699cd3;
}


body{
    background: #eeeeee;
    margin: 0;
    overflow: hidden;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.container{
    width: 100vw;
    height: 100vh;
    
    
    font-weight: bold;
    font-size: 10px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr;
    
    gap: 5px;
    padding: 5px;

    box-sizing: border-box;


}

.container div{
    padding: 10px;
    
}

div{
    border:1px solid black
}

.header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.editor{
    position: fixed;
    left: 0%;
    float:  left;
    height: 100%;
}

.inspector{
    position: fixed;
    right: 0%;
    float:  right;
    height: 100%;
}