:root{
    --main-color: #5c5c5c;
    --support-color: #42ff42;
    --compliment-color: #ffffff;
    --font-light: #eeeeee;
    --font-dark: #222222;
    --bacground-light: #cccccc;
    --background-dark:#444444;

}


a{
    color: #dddddd;
    text-decoration: none;
}



body{
    background: #3b3b3b;
    margin: 0;
    overflow: hidden;
    color: var(--font-light);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


.title span{
    color: var(--support-color);
}

.title{
    float: up;
    display: flex;
    justify-content: center;
    background: var(--main-color);
}

.container{
    width: 100vw;
    height: 100vh;
    
    
    font-weight: bold;
    font-size: 10px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr;
    
    gap: 5px;
    padding: 5px;

    box-sizing: border-box;


}

.container div{
    padding: 10px;
    
}

div{
    border:1px solid var(--compliment-color)
}

.header{
    /*position: fixed;*/
    top: 0;

    width: 100%;
}

.editor{
    /*position: fixed;*/
    left: 0%;

    height: 100%;
}

.inspector{
    /*position: fixed;*/
    right: 0%;

    height: 100%;
}