






.settings-list >div:nth-child(odd){
    background: var(--odd-list-color);

}

.settings-list >div:nth-child(even){
    background: var( --even-list-color);
    
}



.settings-list{
    min-width: 20em;
}


.settings-list input[type="number"]{
    width: 8em;
}

.settings-list button{
    min-width: 4em;
    min-height: 2em;
}



.generic-setting{
    border-radius: 0.3em;
    padding:1em 0.5em 1em 0.5em;

    box-shadow:
    2px 2px 5px -3px var(--contrast-font-color),
    inset -2px -2px 4px -2px var(--contrast-font-color);
}

.generic-setting-content >*{
    margin-bottom: 0.3em;
    margin-right: 0.3em;
}

.generic-setting-header{
    white-space: nowrap;
    margin-bottom: 0.5em;
}

.setting-checkbox-list{
    padding-top: 1em;
    padding-bottom: 1em;
}

.setting-checkbox-list>div:nth-child(even){
    background-color: var(--even-list-color);
}
.setting-checkbox-list>div:nth-child(odd){
    background-color: var(--odd-list-color);
}


.setting-exstension-entry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.5em;

    box-shadow:
    2px 2px 5px -3px var(--contrast-font-color),
    inset -2px -2px 4px -3px var(--contrast-font-color);
    
}
.setting-checkbox{
    width: 24px;
    height: 24px;

    padding-left: 12px;
    padding-right: 12px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    

    flex-basis: 10;
    flex-shrink: 0;
    background: blue;
    
}





.setting-label-input *{
    display: block;

}

.interupt-addres-setting-entry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:2em;
    padding-left: 1ch;
    padding-right: 1ch;

    box-shadow:
        2px 2px 5px -3px var(--contrast-font-color),
        inset -2px -2px 3px -3px var(--contrast-font-color);
    

}
.interupt-addres-setting-entry:nth-child(odd){
    background-color: var(--even-list-color);
}
.interupt-addres-setting-entry:nth-child(even){
    background-color: var(--odd-list-color);
}
