


.alert-warning{
    font-weight: bold;
    color: var(--primary-color);
}

.alert-warning::before{
    content: "❗";
    font-size: 130%;
    padding-right: 0.5em;
}


.alert-syntax-error::before{
    content: "💩";
    font-size: 130%;
    padding-right: 0.5em;
}

.alert-succes{
    font-weight: bold;
}


.alert-succes::before{
    content: "👍🏿";
    font-size: 130%;
    padding-right: 0.5em;
}
