


.alert-large{
    padding-top: 0.3em;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.3em;
}


.alert-machine-response{
    font-style: italic;
}

.alert-machine-response::before{
    content: "🗿";
    font-size: 130%;
    padding-right: 0.5em;
    font-style: normal;
    
}


.alert-warning{
    font-weight: bold;
    color: var(--primary-color);
}

.alert-warning::before{
    content: "❗";
    font-size: 130%;
    padding-right: 0.5em;
}


.alert-syntax-error::before{
    content: "💩";
    font-size: 130%;
    padding-right: 0.5em;
}

.alert-succes{
    font-weight: bold;
}


.alert-succes::before{
    content: "🎉";
    font-size: 130%;
    padding-right: 0.5em;
}

.alert-execution{
    font-weight: bold;
}
.alert-execution::before{
    content: "⚙️";
    font-size: 130%;
    padding-right: 0.5em;
}


.alert-unhandled-exception::before{
    content: "🤡";
    padding-right: 0.5em;
    font-size: 130%;
}

.alert-unhandled-exception::after{
    content: "🤡";
    padding-left: 0.5em;
    font-size: 130%;
}
.alert-unhandled-exception{
    font-size: 115%;
    font-weight: bolder;

}