
  /*
        Styling for colors used in stylesheet

        for best expirience

        --primary-color
        --contrast-font-color
        --body-color
        --panel-color

        need to contrast with
        
        --secondary-color
        --font-color
        

        --reg hover should be some shade of primary
    
    */



    :root{


  

        --primary-color:#445ce2;
        --secondary-color: #FFB619;
    
        --font-color: #e4e4e4;
        --contrast-font-color: #0f0f0f;
    
        --body-color: #3b3b3b;
        --panel-color:  #4e4d4d;
    
        --even-list-color: #525050;
        --odd-list-color: #626262;
        
        --button-background:var(--font-color);
    
    
        --reg-hover: #2c30a7;
        
    }