
/*
    Styling for aotu-generated content on the webpage
*/

/*

.instr-list{
}
*/


.confirm-btn{
    border: none;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
    border-radius: 0.3em;
    background: var(--button-background);
    color: var(--contrast-font-color);
    font:inherit;
    cursor: pointer;
    outline: inherit;
 
}

.confirm-btn:hover,.confirm-btn:focus{
    background: var(--secondary-color);
    color: var(--contrast-font-color);
}

.confirm-btn:active{
    background: var(--primary-color);
    color: var(--font-color);
}



.confirm-btn.confirm-btn-ready{
    background: var(--primary-color);
    color: var(--font-color);
}

.confirm-btn.confirm-btn-ready:active{
    background: var(--contrast-font-color);
    color: var(--font-color);
}

.confirm-btn-ready::after{
    content: "?";
}

