
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


* {
    transition:  color 250ms,background-color 250ms, border-color 250ms;
}

.visibility-hidden.visibility-hidden.visibility-hidden.visibility-hidden.visibility-hidden{
    visibility: hidden;
}

.display-none.display-none.display-none.display-none.display-none.display-none{
    display: none;
}


button, input[type="submit"], input[type="reset"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


h1:focus,h2:focus,h3:focus,h4:focus,h5:focus,h6:focus{
    color: var(--secondary-color);
    border: none;
    outline: inherit;
}




body{
    

    background: var(--body-color);
    margin: 0;

    color: var(--font-color);
}

a{
    color: var(--font-color);
    text-decoration: none;
}


ul{
    list-style: none;
}


h2{
    font-size:1.1rem;
}

/*
textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;

    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    width: 100%;
    height: 50vh;
}

*/

.info-tip{
    font-style: italic;
    font-size: 80%;
}

.info-tip::before{
    content: "*";
}