





.file-preview{
    
    background: var(--odd-list-color);
    border: dashed;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;

    transform-origin: top;
    animation: file-preview-entry 200ms cubic-bezier(.49,.38,.31,1.6);

    box-shadow:  4px 4px 30px  -8px #000000;
}

@keyframes file-preview-entry{
    0%{
        transform: scale(0.8,0);
    }
    100%{
        transform: scale(1,1);
    }
}

.prview-entry-header{
    margin-bottom: 0.2em;
    margin-top: 0.6em;
}



.file-preview-header{
    margin-bottom: 1em;
}

.file-preview button.confirm-btn{
    margin-top: 0.8em;
}

.file-inspector-content{
    min-width: 15em;
}

.file-inspector-content > .file-view-wrapper{
    padding: 0.2em 0.5em 0.8em 0.5em;
}

.file-view-header{
    margin-bottom: 0.4em;
}


.file-inspector-content .custom-btn,.file-inspector-content  .confirm-btn{
    min-width: 2em;
    min-height: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

label.file-entry{
    display: block;
    cursor: pointer;
}




.file-entry{
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;


    border-radius: 0.6em;
    text-align: left;
    
    box-shadow: 
        2px 2px 4px  -2px #000000,
        inset -1px 0px 3px -1px #000000;
      
}

.file-entry:nth-of-type(even){
    background: var(--even-list-color);
}
.file-entry:nth-of-type(odd){
    background: var(--odd-list-color);
}

.file-entry:hover, .file-entry:focus{
    background: var(--primary-color);
}

.file-entry:active{
    color: var(--contrast-font-color);
    background: var(--secondary-color);
}





.file-name-input{
    width: 50%;
}
.file-json-span{
    margin-right: 0.5em;
}

