
.generic-inspector>*{
    margin-bottom:0.5em;
    margin-right: 0.3em;
}


.generic-inspector>button,h3{
    
    white-space: nowrap;
}

.generic-inspector>button{
    min-width: 4em;
    min-height: 2em;
}
