

.instr-list >.instr-entry:nth-child(odd){
    background: var(--odd-list-color);

}

.instr-list >.instr-entry:nth-child(even){
    background: var( --even-list-color);
    
}







.instr-entry{
    cursor: pointer;

    display: flex;
    height: 2.2em;
    align-items: center;
    justify-content: space-between;

    border-radius: 0.3em;
    min-width: min-content;

    box-shadow:
        3px 3px 4px -3px var(--contrast-font-color),
        inset -2px -2px 5px -3px var(--contrast-font-color);
    
   
}
.instr-entry>*{
    cursor: pointer;
    margin-left: 0.2em;
    margin-right: 0.2em;
    
    display: flex;
    align-items: center;
    height: 80%;
    
}

.instr-entry.instr-selected.instr-selected.instr-selected.instr-selected{
    background: var(--primary-color);
}



.instr-entry .instr-name{
    border-radius: 0.3em;
    font-weight: 500;
    font-size: 110%;
    flex-grow:  1;;
    padding-left: 1em;
    margin-left: 0;
    min-width: 6em;
    height: 100%;
}


.instr-entry .instr-name:hover,.instr-entry .instr-name:focus {
    background: var(--primary-color);
    
}

.instr-entry.instr-selected .instr-name:hover,.instr-entry.instr-selected  .instr-name:focus {
    background: var(--contrast-font-color);
}

.instr-entry.instr-selected .instr-name:active{
    background: var(--secondary-color);
    color: var(--contrast-font-color);
}


.instr-entry .instr-name:active{
    background: var(--secondary-color);
    color: var(--contrast-font-color);
}

.instr-list *{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


