






.io-device-list >.io-device-entry:nth-child(odd){
    background: var(--odd-list-color);

}

.io-device-list >.io-device-entry:nth-child(even){
    background: var( --even-list-color);
    
}

.io-device-list>:first-child{
    font-weight: bold;
}

.io-device-list{
    min-width: min-content;
}

.io-device-entry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    min-width: min-content;
    width: 100%;
    border-radius: 0.5em;
}

.io-device-entry>:first-child{
    min-width: 3em;
}




.io-device-entry *{
    white-space: nowrap;
}




.console-width-wrapper{
    width: 100%;
    min-width: 20em;
    max-width: 45em;
    
}

.console-width-wrapper>*{
    margin-bottom: 0.3em;
}

.console-input-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.console-ascii-input{
    font-family: 'Inconsolata', monospace;
    background-color: var(--contrast-font-color);
    color: var(--font-color);
    padding: 0.5em;
    font-size: 115%;
    border-radius: 0.3em;
    flex-grow: 1;
    margin-right: 0.3em;
    flex-basis: 0;
    width: 0;

}

.console-numeric-input{
    font-family: 'Inconsolata', monospace;
    background-color: var(--contrast-font-color);
    color: var(--font-color);
    border-radius: 0.3em;
    padding: 0.5em;
    font-size: 115%;
    width: 5.5em;
    flex-basis: 0;

    
}

.console-output{
    border-radius: 0.3em;
    word-break: break-all;
    white-space:pre-wrap;
    word-wrap: break-word;
    resize: none;
    
    font-family: 'Inconsolata', monospace;
    background-color: var(--contrast-font-color);
    padding: 1em;
    color: var(--font-color);
    width: 100%;
    min-height: 5em;
    min-height: 20em;
}