/*
.container *{
    border: solid;
    border-width: thin;
    border-color: white;
    color: rgb(243, 75, 75);
}
*/


:root{
    --primary-color:#faeaea;
    --seleced-color: #fa7272;
    --dark-selected-color:#f84640;
    --selected-compliment: #0f0f0f;




    --reg-color:#7272fa;
    --reg-hover: #4045BB;
    --mem-pointer-color: #72fa72;
   
}



.container  * {
    transition: color 350ms,background-color 350ms;
    
}


.jal-padding{
    height: 2em;
}


.container{
    color: var(--primary-color);
    font-size: medium;
    
    
}



.bus-hor{
    border-top: solid;
    border-bottom: solid;
    border-width: medium;

    color: white;
    

    height: 1em;
    
}


.bus-vert{
    border-left: solid;
    border-right: solid;
    border-width: medium;

    color: white;

    height: 100%;
}

.bus-selected{
    color:var(--seleced-color);
}


.reg{
    background: var(--reg-color);
    border-width: thin;
    border-radius: 0.2em;
    
    white-space: nowrap;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    

    
}




.reg-selected{
    
    color:var( --dark-selected-color);

}

.reg:hover{
    background: var( --reg-hover);
    cursor: pointer;
}
.reg-hidden{
    background: transparent;
    color: gray;
}



.sig:hover{
    background: var(--primary-color);
    color: black;
    cursor: pointer;
}


.sig{
    color: var(--primary-color);
    justify-content: center;
    padding: 0.3em;
    border-radius: 0.2em;


    width: auto;
    height: auto;
    /*height: 100%;*/
}

.sig-impulse{
    text-decoration-line: overline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.1em;
    
}   



.sig-selected{
    color:  var( --seleced-color);
    
}

.sig-selected:hover{
    color: var(--selected-compliment);
    background: var( --seleced-color);
}

.sig-hidden{
    background: transparent;
    color: gray;
}

.sig-hidden:hover{
    background: transparent;
    color: gray;
}









.mem{

    bottom: 0;
    height: 21em;


    background: rgb(215, 217, 240);
    border:solid;
    border-width: thin;
    border-radius: 0.5em;


    overflow-y: auto;

    display: fixed;
    flex-direction: column;

}


.mem-entry{
    color: rgb(35, 35, 36);
    white-space: nowrap;

}

.mem-entry:hover{
    cursor: pointer;
    background: var(--seleced-color);
}

.mem-entry-selected{
    background: var(--mem-pointer-color);
}



span.reg-name{
    font-weight:bold;
    
}

.rz-button{
    width: 90%;
    height: 90%;
    position: relative;
    left:  5%;
    top: 5%;
}