/*
.container *{
    border: solid;
    border-width: thin;
    border-color: white;
    color: rgb(243, 75, 75);
}
*/


:root{
    --seleced-color: rgb(175, 67, 67);
}


.jal-padding{
    height: 2em;
}

.container{
    background: #552828;
    color: black;
    font-size: x-large;
}

.bus-hor{
    border-style:solid;
    border-width: thin;

    height: 100%;
    
}


.bus-vert{
    border-style:dotted;


    height: 100%;
}

.reg{
    background: #84abc5;
    border-style: solid;
    border-width: thin;
    border-radius: 0.2em;
    justify-content: center;
    white-space: nowrap;

    height: 100%;
    
}


.reg-selected{
    color:var(--seleced-color);
}
.reg-hidden{
    background: transparent;
    color: gray;
}



.sig:hover{
    background: #BBBBBB;
    border-style: ridge;
    cursor: pointer;
}


.sig{
    background: #DDDDDD;
    border-radius: 0.5em;
    justify-content: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-style:groove;

    transition: all;
    width: auto;
    height: auto;
    /*height: 100%;*/
}



.sig-selected{
    background: rgb(177, 107, 107);
}

.sig-hidden{
    background: transparent;
    color: gray;
}

.sig-hidden:hover{
    background: transparent;
    color: gray;
}




.bus-selected{
    color:var(--seleced-color);
}





.mem{
    background: white;
    border:solid;
    border-width: thin;
    border-radius: 0.5em;


    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    height: 13.5em;

}


.mem-entry{
    color: blue;
    white-space: nowrap;

}

.mem-entry-selected{
    background: green;
}



span.reg-name{
    font-weight:bold;
    
}

