/*
.machine *{
    border: solid;
    border-width: thin;
    border-color: white;
    color: rgb(243, 75, 75);
}

*/

.jal-padding{
    height: 2em;
}

.machine{
    background: #575757;
    color: black;
    font-size: x-large;
}

.bus-hor{
    border-style:solid;
    border-width: thin;

    height: 100%;
    
}


.bus-vert{
    border-style:dotted;


    height: 100%;
}

.reg{
    background: #84abc5;
    border-style: solid;
    border-width: thin;
    border-radius: 0.2em;
    justify-content: center;


    height: 100%;
    
}


.sig:hover{
    background: #BBBBBB;
    border-style: ridge;
    cursor: pointer;
}


.sig{
    background: #DDDDDD;
    border-radius: 0.5em;
    font-size: 15px;
    justify-content: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-style:groove;

    transition: all;
    width: auto;
    height: auto;
    /*height: 100%;*/
}

.sig-selected{
    background: red;
    font-weight: bold;
}




.memory{
    border:solid;
    border-width: thin;
    border-radius: 0.5em;

    height: 100%;
}




span.reg-name{
    font-weight:bold;
}



.JAL-body{
    border: solid;
    border-width: thin;
    border-radius: 0.5em;
    background: #ebeaea;
}