

/*
    Styling for layout of the webpage
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root{



    --header-height:3em;
    --editor-width:18vw;
    --inspector-width:18vw;

    --width-transition:
        width 70ms ease-out,
        left 70ms ease-out,
        right 70ms ease-out ;
}


button, input[type="submit"], input[type="reset"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.custom-btn{
    border-style: none;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
    border-radius: 0.3em;
    background: var(--button-background);
    color: var(--contrast-font-color);
    font:inherit;
    cursor: pointer;
    outline: inherit;
 
}

.custom-btn:hover,.custom-btn:focus{
    background: var(--secondary-color);
    color: var(--contrast-font-color);
}

.custom-btn:active{
    background: var(--primary-color);
    color: var(--font-color);

    
}

h1:focus,h2:focus,h3:focus,h4:focus,h5:focus,h6:focus{
    color: var(--secondary-color);
    border: none;
    outline: inherit;
}

h3{
    white-space: nowrap;
}



/*
button:focus, input[type="submit"]:focus, input[type="reset"]:focus{
    background: red;
}
*/

.unselectable, .nav-button, .flow-button {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

    
}


body{
    

    background: var(--body-color);
    margin: 0;

    color: var(--font-color);
}

a{
    color: var(--font-color);
    text-decoration: none;
}


ul{
    list-style: none;
}

* {
    transition:  color 250ms,background-color 250ms;
}

footer{
    width: 100%;
    
    text-align: right;
    padding-right: 6em;
}


header{
    background: var(--primary-color);

    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;    

    border-bottom: solid;
    border-width: thin;
}

.logo{
    font-weight: 700;
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
    min-width: 5vw;
}

nav{
    display: flex;
    height: 100%;
    align-items: center;
    overflow: auto;
    flex-shrink: 3;
    min-width: 20vw;
}

.nav-button{
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 110%;

    transition: padding 50ms, color 250ms,background-color 250ms,font-weight 300ms;

}
.nav-button:hover, .nav-button:focus{
    background: var(--secondary-color);
    color: var(--contrast-font-color);
}

.nav-button:active{
    padding-left: 1.2em;
    padding-right: 1.2em;
}




#flow-control{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 100%;
    align-items: center;
}

.flow-button{
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;

    transition: padding 100ms, color 250ms,background-color 100ms,font-weight 300ms;

}

.flow-button:hover, .flow-button:focus{
    color: var(--secondary-color);
}

.flow-button:active{
    background-color: var(--secondary-color);
    color: var(--contrast-font-color);
}

.manual-selected{
    background-color: var(--secondary-color);
    color: var(--contrast-font-color);
}

.manual-selected:hover, .manual-selected:focus{
    color: var(--primary-color);
}

.manual-selected:active{
    background-color:transparent;
    color: var(--font-color);
}





.logo-prefix{
    color: var(--secondary-color);
}

.left-side-bar{
    position: fixed;

    top: var(--header-height);
    left:0;
    bottom: 0;
    width: var(--editor-width);
    border-right: solid;
    border-right: thin;

    transition: var(--width-transition);
}

.right-side-bar{

    position: fixed;
    top: var(--header-height);
    right:0;
    bottom: 0;
    width: var(--inspector-width);
    
    transition: var(--width-transition);
    
}

.handle-ew{
    background: transparent;
    color: var(--font-color);
    
    border: hidden;
    cursor: ew-resize;
    width: 0.5vw;
}

.left-drag-handle{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -0.15vw;
    border-right:solid;
    border-width: thin;
}

.right-drag-handle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.15vw;
    border-left:solid;
    border-width: thin;
    
}

.on-handle-drag{
    border-width:thick;
}

.handle-ew:hover, .handle-ew:focus{
    border-width: thick;
}


.center{
    position: fixed;




    left: var(--editor-width);
    right: var(--inspector-width);
    top: var(--header-height);
    bottom: 0;


    overflow: auto;
    transition: var(--width-transition);
    
    
}

.alert-area{
    background: var(--secondary-color);
    color: var(--contrast-font-color);
 
    margin-bottom: 0.5em;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    left: 0;

}

.alert-area *{
    transition: none;
}


.alert-area>.alert-entry:nth-child(even){
    background: var(--even-alert-color);
}

.alert-entry{
    width: 100%;
    padding-left: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    min-height: 2em;

    

}


.alert-text{
    flex-basis: 0;
    flex-grow: 1;
    display: inline-block;
    padding-top: 0.1em;
    overflow: auto;
    overflow-wrap: break-word;

}

.alert-close-button{
    flex-shrink: 0;
    width: 3em;
    text-align: center;
}

.alert-close-button:hover{

    font-weight: 700;
}

.alert-close-button:focus{
    border-width: thin;
    border: dashed;
}

.alert-close-button:active{
    color: var(--primary-color);

}

.machine-flex{
    
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}


.machine-wrapper{

    min-width: 1000px;
    max-width: 1600px;
 


    position: relative;
}



.bar{
    
    height: 100%;
}

#editor{
    background: var(--panel-color);
    padding: 10px;
    overflow: auto;
}

#inspector{
    background: var( --panel-color);
    padding: 10px;
    overflow: auto;
}










textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;

    font-family: 'Inconsolata', monospace;

    width: 100%;
    height: 50vh;
}














/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


.title span{
    color: var(--support-color);
}

.title{
    float: up;
    display: flex;
    justify-content: center;
    background: var(--main-color);
}

.container{
    width: 100vw;
    height: 100vh;
    
    
    font-weight: bold;
    font-size: 10px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr;
    
    gap: 5px;
    padding: 5px;

    box-sizing: border-box;


}

.container div{
    padding: 10px;
    
}

div{
    border:1px solid var(--compliment-color)
}
*/
