@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: #5c5c5c;
    --support-color: #42ff42;
    --compliment-color: #ffffff;
    --font-light: #eeeeee;
    --font-dark: #222222;
    --bacground-light: #cccccc;
    --background-dark:#444444;

    --header-height:2em;
    --bar-width:250px;

}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

ul{
    list-style: none;
}






header{
    background: crimson;

    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#flow-control{
    display: flex;
    flex-direction: row;
}







span .logo-prefix{
    color: gray;
}

.left-side-bar{
    position: fixed;

    top: var(--header-height);
    left:0;
    bottom: 0;
    width: var(--bar-width);
    
}

.right-side-bar{

    position: fixed;
    top: var(--header-height);
    right:0;
    bottom: 0;
    width: var(--bar-width);

    
}

.left-drag-handle{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 6px;


}

.right-drag-handle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;

    
}


.handle-ew{
    background: blue;
    cursor: ew-resize;
}
.handle-ew:hover{
    background: cyan;
}


.center{
    position: fixed;
    left: var(--bar-width);
    right: var(--bar-width);
    top: var(--header-height);
    bottom: 0;

    display: flex;
    justify-content: center;
    
}




.machine-wrapper{
    border-radius: 0.5em;
    max-width: 1200px;
    max-height: 600px;
    border:solid;
}



.bar{
    
    height: 100%;
}

#editor{
    background: darkgreen;
    padding: 10px;
}

#inspector{
    background: darkcyan;
    padding: 10px;
}








a{
    color: #dddddd;
    text-decoration: none;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;

    width: 100%;
    height: 100%;
}

body{
    

    background: #3b3b3b;
    margin: 0;
    /*overflow: hidden;*/
    color: var(--font-light);
}





.selected{
    background-color: red;
}


#flow-control{
    background: rgb(221, 221, 106);
}





#navbar{
    background: darkmagenta;
    display: flex;
}










/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


.title span{
    color: var(--support-color);
}

.title{
    float: up;
    display: flex;
    justify-content: center;
    background: var(--main-color);
}

.container{
    width: 100vw;
    height: 100vh;
    
    
    font-weight: bold;
    font-size: 10px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr;
    
    gap: 5px;
    padding: 5px;

    box-sizing: border-box;


}

.container div{
    padding: 10px;
    
}

div{
    border:1px solid var(--compliment-color)
}
*/
