






.settings-list >div:nth-child(odd){
    background: var(--odd-list-color);

}

.settings-list >div:nth-child(even){
    background: var( --even-list-color);
    
}



.settings-list{
    min-width: 20em;
}


.settings-list input[type="number"]{
    width: 8em;
}

.settings-list button{
    min-width: 4em;
    min-height: 2em;
}



.generic-setting{
    border-radius: 0.3em;
    padding:1em 0.5em 1em 0.5em;
}

.generic-setting-content >*{
    margin-bottom: 0.3em;
    margin-right: 0.3em;
}

.generic-setting-header{
    white-space: nowrap;
    margin-bottom: 0.5em;
}

.setting-checkbox-list{
    padding-top: 1em;
    padding-bottom: 1em;
}

.setting-checkbox-list>div:nth-child(even){
    background-color: var(--even-list-color);
}
.setting-checkbox-list>div:nth-child(odd){
    background-color: var(--odd-list-color);
}


.setting-exstension-entry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    
}
.setting-checkbox{
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}





.setting-label-input *{
    display: block;
}

